.Rproj.user
.Rhistory
.RData
.Ruserdata
csnorm/src/Modules.cpp
csnorm/src/Modules.o
csnorm/src/csnorm.so
csnorm/src/include/models.hpp*
csnorm/src/gfl/obj
csnorm/src/gfl/src/*.o
csnorm/man/*
.*.sw*
*_cmdline.R
run*.R
